name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Docker login
      run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Build
      run: |
        ls
        docker build -t ga .
    - name: Tags
      run: |
        docker tag ga ${{ secrets.DOCKER_USER }}/ga:${{ github.sha }}
        docker tag ga ${{ secrets.DOCKER_USER }}/ga:latest
    - name: Push
      run: |
        docker push ${{ secrets.DOCKER_USER }}/ga:${{ github.sha }}
        docker push ${{ secrets.DOCKER_USER }}/ga:latest
    - name: Run
      run: docker run -d -p 3000:3000 --network net-mysql ${{ secrets.DOCKER_USER }}/ga:latest

